<html>
	<head>
		 <link rel="stylesheet" type="text/css" href="/static/default.css" />
	</head>
	<body>
	
		<header>
		
			<p>To jest strona glówna</p>
	
			<div id="LOGIN_BLOCK">
				<p>Panel logowania</p>
				<form>
					<table>
						<tr style="color: red">
							<td><p>login:</p></td><td><input type="text" /></td>
						</tr>
						<tr>
							<td><p>hasło</p></td><td><input type="password" /></td>
						</tr>
					</table>
				</form>
				
				<h1 type="header">Aktualności</h1>
				
			</div>
		</header>
		
		<nav>
			<p>Menu</p>
		</nav>
		
		<article>
		
			<div id="INFO_BLOCK">
				<h1 type="info">Nagłówek newsa</h1>
				<p type="info">Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść Treść treść </p>
				<p type="author">Dodane dnia DZIEN przez AUTOR</p>
			</div>
			
		</article>
		
		<footer>
			<p>To jest stopka - stopki są fajne</p>
		</footer>
		
	</body>
</html>
